.cm-header-1::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 300px;
  height: 12px;
  left: -1rem;
  background-image: linear-gradient(
    to right,
    #ffc4006b 40%,
    transparent 70%
  );
  z-index: -1;
}

.cm-header-1::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 100%;
  right: 0px;
  opacity: 0.5;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    #ffc4006b 40%,
    transparent 70%
  );
}

.cm-header-2::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 200px;
  height: 12px;
  left: -1rem;
  background-image: linear-gradient(
    to right,
    #575fee6b 40%,
    transparent 70%
  );
  z-index: -1;
}

.cm-header-2::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 100%;
  right: 0px;
  opacity: 0.5;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    #575fee6b 40%,
    transparent 70%
  );
}

.cm-header-3::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -1rem;
  width: 100px;
  height: 12px;
  background-image: linear-gradient(
    to right,
    #e42bc56b 40%,
    transparent 70%
  );
  z-index: -1;
}

.cm-header-3::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 100%;
  left: 0px;
  opacity: 0.5;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    #e42bc56b 40%,
    transparent 70%
  );
}

.view-content .markdown-source-view .inline-title {
  align-self: center;
}
.markdown-preview-view .mod-header .inline-title {
  text-align: center;
}